{% extends "_base.html" %}

{% block title %}
	Home
{% endblock %}

{% block body %}
<h1>Home</h1>
<br>
<h4>User: {{user}}</h4>
<h4 class="text-success">Money: ${{money}}</h4><br>
<div class="card" style="margin-left: auto;
  margin-right: auto;">
  <h3>Click a game to start playing!</h3>
  <div id="carouselExampleIndicators" class="carousel slide w-50" data-ride="carousel" style="width:250px; align-items:center; margin-left: auto; margin-right: auto;">
    <div class="carousel-inner"  style="width:250px; align-items:center; margin-left: auto; margin-right: auto;">
			<div class="carousel-item active">
				<a href="/dice"><img class="d-block" style="margin: auto; width:250px; height:250px" src="../static/dice.jpg"></a>
			</div>
			<div class="carousel-item">
				<a href="/slotmachine"><img class="d-block" style="margin: auto; width:250px; height:250px" src="../static/slot.jpg"></a>
			</div>
			<div class="carousel-item">
				<a href="/home"><img class="d-block" style="margin: auto; width:250px; height:250px" src="../static/blackjack.jpg"></a>
			</div>
    </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(100%);"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(100%);"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
  <br>
</div>

{% endblock %}
