{% extends "_base.html" %}
{% block title %}
 Sractch Ticket
{% endblock %}
<div class="ticket container">
{% block body %}
<div class="box">
  <image class="images" src="../static/scratch.jpg">
    <canvas id="canvas"></canvas>
</div>
<img class="coin" src="../static/coin.png" width="50px" height="50px">
</div>
<script type="text/javascript">
var url = '../static/lotto.jpg';
var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');
var img = new Image();
img.src = url;
img.onload = function () {
  var width = Math.min(500, img.width);
  var height = img.height * (width / img.width);

  canvas.width = width;
  canvas.height = height;
  ctx.drawImage(img, 0, 0, width, height);
};

var isPress = false;
var old = null;
canvas.addEventListener('mousedown', function (e){
  isPress = true;
  old = {x: e.offsetX, y: e.offsetY};
});
canvas.addEventListener('mousemove', function (e){
  if (isPress) {
    var x = e.offsetX;
    var y = e.offsetY;
    ctx.globalCompositeOperation = 'destination-out';

    ctx.beginPath();
    ctx.arc(x, y, 10, 0, 2 * Math.PI);
    ctx.fill();

    ctx.lineWidth = 20;
    ctx.beginPath();
    ctx.moveTo(old.x, old.y);
    ctx.lineTo(x, y);
    ctx.stroke();

    old = {x: x, y: y};

  }
});
canvas.addEventListener('mouseup', function (e){
  isPress = false;
});
//var mouseX=0;
//var mouseY=0;
//var coins=document.getElementByClass("coins");
//coins.addEventListener("mousemove",setMousePosition,false);
//function setMousePosition(e){
  //mouseX=e.clientX;
  //mouseY=e.clientY;
//}
//document.getElementById('coins').addEventListener("click", () => coinCursor());
//var coinCursor = function(){
//  console.log("hiii");
//  console.log(document.getElementById("cursor").classList.toggle('coin'))
//  document.getElementById("cursor").classList.toggle('coin');
//  console.log(document.getElementById("cursor").classList.toggle('coin'));

//};

</script>
{% endblock %}
