.box {
  display: inline-block;
  -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
 position: relative;
 cursor: url("../CoinMK8.png") 18 18, auto;
}
.images{
  position: absolute;
  z-index: 1;
  top:0;
  right:0;
}

canvas {
  position: absolute;
  top: 0;
  right:0;
  background: transparent;
  z-index: 3;
  user-select:none;
}
