.box {
  display: inline-block;
  -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
 position: relative;
}
.images{
  position: absolute;
  z-index: 1;
  left:0;
  top:0;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 3;
  user-select:none;
}
